:root{
    --gap: 16px;
    --header: 60px;
}
// 
$fontBase: #2b2b2e;
$fontHover: #bebcb4;
$backgorund: #ffffff;
$image: #f5f3ef;
$accent: #b56845;
// 
$transition: 200ms;
// 
$mq-desktop: 1000px;
$mq-tablet: 769px;
$mq-mobile: 600px;
